<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-meta"></i>
            <i class="fa-brands fa-instagram" style="color: #c8046d;"></i>
            <i class="fa-brands fa-square-linkedin" style="color: #0b6cb7;"></i>

        </div>
        <div class="f-info-brand">
            Wanderlust Private Limited &copy; 2026
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
</footer>